@model Portfolio.Models.ContactMeForm

@{
    ViewBag.Title = "Contact Me";
}

<h2>Contact Form</h2>
<form action="@Url.Action("Index", "Contact")" method ="post">
<div class="name">
    First Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    @Html.TextBoxFor(x => x.FirstName)
    @Html.ValidationMessageFor(x => x.FirstName)
</div>
<div class="name">
    Last Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    @Html.TextBoxFor(x => x.LastName)
    @Html.ValidationMessageFor(x => x.LastName)
</div>
<br />
<div class="contact">
    @Html.LabelFor(x => x.Email) Address
    @Html.TextBoxFor(x => x.Email)
    @Html.ValidationMessageFor(x => x.Email)
</div>
<div class="contact">
    Contact Number
    @Html.TextBoxFor(x => x.ContactNumber)
    @Html.ValidationMessageFor(x => x.ContactNumber)
</div>
<div>
    @Html.LabelFor(x => x.Comment)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    @Html.TextAreaFor(x => x.Comment)
    @Html.ValidationMessageFor(x => x.Comment)
</div>
    <input type="submit" value="Submit" />
</form>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}