@model Portfolio.Models.ContactMeForm

@{
    ViewBag.Title = "Contact Me";
}


<form action="@Url.Action("Index", "Contact")" method ="post">
<h2 align="center"> Contact Form</h2>
<p align="center">
    @Html.ValidationMessageFor(x => x.FirstName)
    @Html.ValidationMessageFor(x => x.LastName)
</p>
<p align="center">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;First Name
    @Html.TextBoxFor(x => x.FirstName)
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Last Name
    @Html.TextBoxFor(x => x.LastName)  
</p>
 <p align="center">
        @Html.ValidationMessageFor(x => x.Email)
        @Html.ValidationMessageFor(x => x.ContactNumber)
</p>
    <p align="center">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Email Address
        @Html.TextBoxFor(x => x.Email)
        Contact Number
        @Html.TextBoxFor(x => x.ContactNumber)

    </p>
    <p align="center">
        @Html.ValidationMessageFor(x => x.Comment)
        </p>
<p align="center">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Comment
        @Html.TextAreaFor(x => x.Comment) 
    </p>
    <p align="center">
        <input type="submit" value="Submit" />
        </p>
</form>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}