<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="http://freefavicons.org/download/black-letter-k/black-letter-k.png" />
    <title>@ViewBag.Title</title>
    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>    
    <header>
        <h1>Kevin Barry</h1>
        <nav>
            <a href="@Url.Action("Index", "Home")">Home</a>
            <a href="@Url.Action("Index", "About")">About</a>
            <a href="@Url.Action("Index", "Work")">Work</a>
            <a href="@Url.Action("Index", "Contact")">Contact</a>
        </nav>
    </header>
    <div id="body">
            @RenderSection("featured", required: false)
            <section id="container" class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
     </div>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    <footer>
        <div align="left">
            
            <ul>
                <li class="left">© 2014 Kevin Barry</li>
            <a href="@Url.Action("Index", "Contact")" class="right"><li>Contact</li></a>
            <a href="@Url.Action("Index", "Work")" class="right"><li>Work</li> </a>
            <a href="@Url.Action("Index", "About")" class="right"><li>About</li></a>  
            <a href="@Url.Action("Index", "Home")" class="right"><li>Home</li> </a>
            </ul>
            
            
        </div>
    </footer>
</body>
</html>
